@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/*------main------ */

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
	padding-bottom: 80px;
}

/* ====================== Navigation ====================== */
/* Skip link to make site more accessible for motor impairment user */
.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #f3f3f3;
	padding: 5px;
	z-index: 100;
}
.skip-link:focus {
	top: 0;
}
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align:center;
}
.fa-cutlery {
	color: white;
	font-size: 2em;
	border: 2px solid white;
	border-radius: 4px;
	padding: 10px;
	margin: 5px 10px;
}
nav h1 {
	font-family: cursive;
	padding-top: 20px;
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 50px 16px;
    list-style: none;
    background-color: #fdfdfd;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
	font-size: 1rem;
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;#
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
.leaflet-map-pane {
	position: relative;
}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	text-align: center;
	padding: 1em;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
	border-radius: 6px;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 5px 10px;
  padding: 0px 10px;
  width: 200px;
}
.filter-options select:focus {
	background-color: orange;
	color: white;
}
/* ====================== Restaurant Listing ====================== */
.restaurant-listing{
	margin: 0 auto;
	padding-bottom: 80px;
	width: 100%;
	text-align: center;
}

#restaurants-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 10px 60px;
  text-align: center;
}
#restaurants-list li {
	flex: 0 0 300px;
	border-radius: 10px;
	display: inline-block;
	float: left;
  background-color: #fff;
  border: 2px solid #ccc;
	box-sizing: inherit;
  font-family: Arial,sans-serif;
  margin: 10px;
  min-height: 380px;
  padding: 20px 10px;
  text-align: center;
}
#restaurants-list li:hover{
	box-shadow: 3px 3px 3px 3px #ccc;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
	border-radius: 5px;
  background-color: orange;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus {
	background-color: #3397DB;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
	height: 400px;
  position: relative;
  right: 0;
  top: 80px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	border-radius: 8px;
	width: 100%
}
/* This image div will maintain aspect ratio of image under flex-wrap */
#restaurant-imagediv {
	width: 100%;
}
#restaurant_details {
	margin: auto;
	padding: 10px;
	width: 100%;
}
#restaurant-address {
  font-size: 1.1rem;
  margin: 10px 0px;
}
#restaurant-cuisinediv {
	width: 100%;
}
#restaurant-cuisine {
	border-radius: 5px;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-hours tr {
	border-bottom: 1px solid black;
}
#restaurant-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
}
#restaurant-container, #reviews-container {

  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
	font-size: 1.5em;
	text-align: center;
	margin: 0 auto;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#review_div {
	width: 100%
}
.checked {
	color: #f58500;
}
#reviews-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
  margin: 0 auto;
  padding: 0;
}
#reviews-list li {
	border-radius: 8px;
	background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 0 30px;
  padding: 20px 20px;
  position: relative;
	width: 100%;
}
#reviewer-name {
	border-radius: 7px;
	background-color: grey;
	padding: 10px;
	color: white;
}
#review-date {
	float: right;
	padding: 10px;
	color: white;
}
#review-comments {

}
#reviews-list li p {
	text-align: left;
	font-size: 1.1rem;
  margin: 0 0 10px;
}

#restaurant-hours td {
	font-size: 1.1rem;
  color: #666;
}
/*------footer-----*/
#footer {
	height: 40px;
  background-color: #444;
  color: #aaa;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
/*-----media queries-----*/
/* media query for restaurant list */
@media screen and (max-width: 360px) {
	#restaurants-list li {
		flex: 0 0 250px;
	}
	#reviews-list li {
		float: none;
		display: block;
		width: 200px;
	}
	#restaurants-list .restaurant-img {
	  height: 200px;
	}

}

/* media queries for restaurant.html file */
@media screen and (max-width: 750px) {
	#restaurant-container {
		display: block;
	}
	#restaurant-img {
		width: 300px;
	}
	#restaurant-cuisine {
		margin: 0 auto;
		max-width: 300px;
	}
	#restaurant-hours td{
		/* This display property will display td one under another
		so table will be more readable for user */
		display: block;
		font-size: 1rem;
	}
	#reviews-list li p {
		font-size: 0.9rem;
	}

}

@media screen and (max-width: 380px) {
	#restaurant-img {
		width: 270px;
	}
	#restaurant-cuisine {
		margin: 0 auto;
		width: 270px;
	}
	#reviews-list li p {
		font-size: 0.8rem;
	  margin: 0 0 7px;
	}
}
@media screen and (min-width: 1200px) {
	#restaurant-img {
		max-width: 800px;
	}
	#restaurant-cuisine {
		margin: 0 auto;
		max-width: 800px;
	}
	#reviews-list {
		max-width: 800px;
	}
}
